.employee-preview {
	display: grid;
	grid-template-columns: clamp(6.25rem, 5.463rem + 3.94vw, 10.188rem) auto;
	grid-template-areas:
		'avatar info'
		'avatar list';

	gap: clamp(0.75rem, 0.6rem + 0.75vw, 1.5rem)
		clamp(1rem, 0.669rem + 1.63vw, 2.625rem);

	position: relative;
	padding-bottom: clamp(1.219rem, 0.969rem + 1.25vw, 2.469rem);
	border-bottom: 1px solid var(--background-sub-primary);
}
.avatar {
	grid-area: avatar;

	width: clamp(6.25rem, 5.463rem + 3.94vw, 10.188rem);
	aspect-ratio: 1/1;
	border-radius: 50%;

	background-color: var(--background-secondary);
}
.img-load {
	grid-area: avatar;

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%) !important;
}
.title-wrapper {
	display: flex;
	flex-direction: column;
	grid-area: info;
	row-gap: clamp(0.5rem, 0.4rem + 0.5vw, 1rem);

	margin-top: clamp(0.188rem, 0.175rem + 0.06vw, 0.25rem);

	& > p {
		font: var(--text-regular-l);
		color: var(--content-primary);
	}
}
.stack-list {
	grid-area: list;

	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: clamp(0.5rem, 0.4rem + 0.5vw, 1rem);
}
.stack {
	background-color: var(--background-sub-primary);
	cursor: unset;
}

@media (max-width: 48rem) {
	.employee-preview {
		grid-template-areas:
			'avatar info'
			'list list';

		padding: 0 clamp(1.5rem, 0.964rem + 2.68vw, 2.25rem);
		padding-bottom: clamp(1rem, -0.049rem + 5.25vw, 2.469rem);
	}
}
