.bread-crumbs {
	padding: clamp(1rem, 0.85rem + 0.75vw, 1.75rem)
		clamp(2.25rem, -3.75rem + 12.5vw, 11.25rem);
}
.list-crumbs,
.list-crumbs > li {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 1rem;
}
.list-crumbs {
	& svg {
		& > path {
			transition: fill 0.3s ease-in-out;
		}

		&:hover > path {
			fill: var(--accent-primary);
		}
	}

	& a {
		font: var(--text-medium-s);
		color: var(--content-secondary);

		user-select: none;

		transition: color 0.3s ease-in-out;

		&:hover {
			color: var(--accent-primary);
		}
	}
}

@media (max-width: 768px) {
	.bread-crumbs {
		padding: clamp(1rem, 0.85rem + 0.75vw, 1.75rem)
			clamp(1.5rem, 0.964rem + 2.68vw, 2.25rem);
	}
}
